{{ $parent := . }}

{{ with .Page.Resources.ByType "image" -}}
  {{- $parent.Scratch.Set "sorted" (sort . ".Params.weight" "asc") -}}
{{- end -}}

<style>
    .svelte-gallery {
        overflow: auto;
    }
</style>

<div id="gallery-el" class="svelte-gallery"></div>

<script type="text/javascript">

    let images =[];
    let params;
    {{- range $parent.Scratch.Get "sorted" -}}
        {{- if (isset .Params "gallery") -}}
            {{- if (eq .Params.gallery 0) -}}
                {{- continue -}}
            {{- end -}}
        {{- end -}}


        {{- $resized := .Resize "x180 q80" }}
        images.push({
            src: "{{ .Permalink }}",
            thumbnail: "{{ $resized.Permalink }}",
            thumbnail_width: {{ $resized.Width }},
            thumbnail_height: {{ $resized.Height }},
            title: "{{ .Title }}"
        });

    {{- end -}}

    g = new Gallery({
        target: document.getElementById("gallery-el"),
        props: {
            images
        }
    })
</script>

<div class="gallery-raw">
    {{- range $parent.Scratch.Get "sorted" }}
    <div class="figure">
        <img src="{{- .Permalink -}}" alt="{{- .Title -}}" />
        <div class="caption">{{- .Title -}}</div>
    </div>
    {{- end -}}
</div>
