    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <!--<link rel="stylesheet" href="{{ "css/unsemantic-grid-responsive.css" | absURL }}"> -->
    <link rel="stylesheet" href="{{ "css/global.css" | absURL }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <!-- <script src="{{ "js/search.js" | absURL }}"></script> -->

    <!-- Leaflet - make sure to put script AFTER Leaflet's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <!-- Leaflet plugin for renderig gpx tracks-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>

    <!--  leaflet full screen control - https://github.com/brunob/leaflet.fullscreen -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!--  leaflet awesome markers -  https://github.com/lennardv2/Leaflet.awesome-markers-->
    <script src="{{ "leaflet-awesome-markers/leaflet.awesome-markers.js" | absURL }}"></script>
    <link rel="stylesheet" href="{{ "leaflet-awesome-markers/leaflet.awesome-markers.css" | absURL }}">

    <link rel="stylesheet" href="{{ "css/maps.css" | absURL }}">
    <script src="{{ "js/maps.js?v1" | absURL }}"></script>
    <script src="{{ "js/maps-leaflet.js?v1" | absURL }}"></script>
    <script src="{{ "js/geonet.js?v1" | absURL }}"></script>

    {{- if (eq site.Params.mapClustering "yes") -}}
    <!-- leaflet marker clusterer - https://github.com/Leaflet/Leaflet.markercluster -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>
    {{- end -}}

    <script src="https://kit.fontawesome.com/2b8c919a81.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ "svelte-grid-gallery/svelte-grid-gallery.css" | absURL }}" />
    <script src="{{ "svelte-grid-gallery/svelte-grid-gallery.js" | absURL }}"></script>

    <!-- chart.js is used for drawing elevation profiles -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

    <!-- google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
