{{/*
this partial accepts single parameter of type dict:
- pages (required) - list of pages to show
- showsummary (optional) - show summary (default false)
*/}}

{{ $args := . }}

<div class="list frames">
    {{ range $args.pages }}

        {{ $link := .Permalink }}
        {{ $img := false }}

        {{/* look for first featured image */}}
        {{ range .Resources.ByType "image"}}
            {{ if and (isset .Params "featured") (.Params.featured) }}
                 {{ $img = . }}
                 {{ break }}
            {{ end }}
        {{ end }}

        {{ if not $img }}
            {{ warnf "Template 'list-frames' requires featured image for each item. Not found for '%s (%s)'" .Title .File.Path }}
        {{ end }}

        <a href="{{ $link }}" class="list-item-link">
            <div class="list-item" {{- if $img -}}style="background-image: url('{{ $img.Permalink }}')"{{- end -}}>
                <div class="content">
                    <h2>{{ .Title }}</h2>
                    {{ if $args.showsummary }}
                    <p class="summary">{{ .Summary | plainify }}</p>
                    {{ end }}
                </div>
            </div>
        </a>

    {{ end }}
</div>
