<aside>
    <h2>{{ T "search" }}</h2>

    <form action="{{ "search" | absURL }}">
        <input id="search-query" name="s"/>
    </form>
</aside>

<script>
// if there is a search parameter in URL query, set value
// of search field
function getParameterByName(name) {
    // Get the query string from current URL
    const params = new URLSearchParams(window.location.search);
    return params.get(name) || "";
}

let el = document.getElementById('search-query')
el.value = getParameterByName("s");

</script>
