html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend,  object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, var {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 20px
}

p {
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    color: #3a3a3a;
    line-height: 1.5;
}

body, button, input, select, textarea {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

body .grid-container {
    max-width: 1100px;
}

h2 {
    font-weight: 300;
    font-size: 30px;
}

h3 {
    font-weight: 300;
    font-size: 20px;
}

a, a:visited {
    color: #069;
    text-decoration: none;
}

/**************** scrollable pre *****************/

pre, code {
    overflow: auto;
}

pre {
    background-color: #eee;
}

pre {
    padding: 10px;
    margin-bottom: 5px;
}

/**************** entry content *****************/

.entry-content a {
    text-decoration: underline;
}

.entry-content h1 {
    margin-top: 15px;
    margin-bottom: 13px;
}

.entry-content h2 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 20px;
}

.entry-content h3 {
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: normal;
}

.entry-content img {
    max-width: 100%;
}

/************************************************/

.site-header {
    background-color: #ffffff;
    color: #2b2b2b;
}

.site-header h1 {
    display: block;
    font-size: 37px;
    max-width: 1040px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.site-header h1 .suffix {
    padding-left: 10px;
    color: #888;
}

.site-title {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.main-navigation {
    z-index: 100;
    padding: 0;
    clear: both;
    display: block;
    background-color: #3f3f3f;
}

.main-navigation {
    position: relative;
}

.main-navigation .main-menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    display: block;
}


.main-navigation li a {
    padding-left: 30px;
    padding-right: 0px;
    line-height: 60px;
    color: white;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    float: left;
    list-style-type: none;
}

.site-main {
    margin-top: 10px;    
/*    margin-right: 20px;*/
    margin-bottom: 20px;    
}

.sidebar {
    margin-top: 10px;    
}

.sidebar aside {
    background-color: #ffffff;
    padding: 30px;
    font-size: 14px;
    margin-bottom: 20px;
}

.sidebar aside h2 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 11px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
}

.sidebar aside ul {
    border: 0;
    margin: 0;
    padding: 0;
}
.sidebar aside ul li {
    list-style-type: none;
    position: relative;
    padding-bottom: 5px;
}

.tag-cloud .references {
    margin-top: 20px;
}

/* sidebar page navigation */

#TableOfContents ul li {
    padding-bottom: 0px;
}

#TableOfContents ul ul {
    padding-left: 20px;
}

#TableOfContents li a {
    padding-bottom: 10px;
}

/**************************************** entry */

.entry {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.entry-header,
.entry-content,
.entry-read-more,
.entry-gallery,
.entry-meta,
.entry-map,
.entry-comments {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
}

@media (max-width: 768px) {

  .entry-gallery {
      padding-left: 0px;
      padding-right: 0px;
  }
}

.entry-map {
    padding-bottom: 25px;
}

.entry-featured-image {
  padding-top: 25px;
  padding-bottom: 0px;
}

.entry-header h2 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.entry-header h3 {
    padding: 0;
    margin: 0;
}

.entry-header h2 .subtitle {
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
    flex-grow: 1;
    text-align: right;
}

.entry-header h2 .subtitle a {
    color: #3a3a3a;
    text-decoration: none;
}

.entry-date {
    color: #595959;
    font-size: 85%;
    margin-top: 0.5em;
    line-height: 1.5;
}

img.size-full {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.entry-meta {
    color: #595959;
    font-size: 85%;
    margin-top: 0.5em;
    line-height: 1.5;
}

.entry-meta a {
    color: #595959;
}

.entry-meta .icon {
    margin-right: 5px;
}

.cat-links, .tags-links {
    margin-top: 3px;
}

/**************************************** pagination */

.pagination {
    padding: 30px;
    background-color: #ffffff;
}

/**************************************** footer */

.site-footer {
    padding: 20px;
    color: #ffffff;
    background-color: #222222;
    padding: 20px 40px;
    text-align: center;
    font-size: 15px;
}

.site-footer .powered-by {
    font-size: 13px
}

.site-footer a {
    color: #aaaaaa;
}

/**************************************** breadcrumbs */

.site-breadcrumbs {
    position: relative;
}

.site-breadcrumbs .breadcrumbs {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.site-breadcrumbs .breadcrumb-item:first-child {
    padding-left: 30px;
}

.site-breadcrumbs .breadcrumb-item {
    padding-top: 4px;
}

/**************************************** main content */

.site-content {
    flex-grow: 1;
}

@media (max-width: 768px) {

    .site-content {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 769px) {

    .site-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
    }

    .content-area {
        width: 75%;
        padding-right: 10px;
    }

    .widget-area {
        width: 25%;
    }
}

.map-large  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.map-large .map {
    flex-grow: 1;
}

/**************************************** comments */

.entry-comments ul {
    margin-left: 20px;
}

.entry-comments li {
    margin-top: 20px;
}

.entry-comments .author {
    font-weight: bold;
}

.entry-comments .date {
    font-size: small;
}

/**************************************** list - frames */

.list.frames {

}

.list.frames .list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.list.frames .list-item .item-text {
    padding-left: 10px;
}

.list.frames .list-item .item-text h2 {
    margin-top: 0;
}

.list.frames .list-item .item-text h2 a {
    text-decoration: none;
    font-size: 26px;
}

.list.frames .list-item .featured-image {
    min-width: 230px;
}

/**************************************** list - gallery */

.list-gallery {
    overflow: auto;
    margin-top: 30px;
}

.list-gallery .list-item {
    margin-bottom: 30px;
    margin-right: 10px;

    background-color: #ffffff;
    overflow: auto;
    width: 230px;
    float: left;
}

.list-gallery .item-text {
    text-align: left;
}

.list-gallery .item-text a {
    text-decoration: none;
    color: #999;
    font-size: 14pt;
}

/**************************************** list - posts/pages */

.entry-content .list-pages .page {
    display: flex;
    flex-direction: row;
}

.entry-content .list-pages .page-link {
    flex-grow: 1;
}

.entry-content .list-pages .page-date,
.entry-content .list-pages .page-category {
    font-style: italic;
    font-size: 13px;
    text-decoration: none;
    color: #3a3a3a;
}

/**************************************** list-documents */

.list-documents {

}

.list-documents .list-item  {
    margin-bottom: 5px;
}

.list-documents .fas {
    margin-right: 10px;
}

/**************************************** figure */
figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry-content figure img {
    max-width: 95%;
}

figure figcaption {
    text-align: center;
}

figure figcaption h4 {
    font-size: 13px;
    font-weight: normal;
}

/**************************************** maps */

.map-popup-content a {
    text-decoration: none;
}

/**************************************** datatable */

table.datatable {
    border-collapse: collapse;
    width: 100%;
}

.datatable td, .datatable th {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-size: 10pt;
    vertical-align: top;
    text-align: left;
}

.datatable td.highlight {
    font-weight: bold;
}

.datatable th {
    font-style: italic;
    border-bottom: 1px solid black;
}

.datatable .group td {
    font-size: 12pt;
    padding-top: 10px;
}

/* hidden by default */
.datatable th input {
    display: none;
    width: 95%;
    margin-top: 4px;
}

.datatable th.active input {
    display: inline-block;
}

.datatable th {
    cursor: pointer;
}

.datatable input, select {
    font-size: 10pt;
    border: 1px solid #666;
}

/**************************************** gallery raw */

.gallery-raw {
    display: none;
}

@media (max-width: 768px) {
    .gallery-raw {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .gallery-raw .figure {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 15px;
    }

    .gallery-raw .figure .caption {
        text-align: center;
        font-size: 10pt;
    }
}

/**************************************** svelte gallery */
@media (max-width: 768px) {

    .svelte-gallery {
        display: none;
    }
}
/**************************************** fix unsemantic */

/* this fix removes side padding on mobile phone views */
@media (max-width: 768px) {
    .grid-container, .mobile-grid-100 {
        padding-left: 0px;
        padding-right: 0px;
    }
}
