.map {
    height: 400px;
}

.map img {
    max-width: initial;
}

.leaflet-bar a {
    text-decoration: none;
}

.legend {
    line-height: 16px;
    color: #555;
}
.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 6px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.track-legend {
    white-space: nowrap;
    overflow: hidden;
}

.shortcode-map {
    padding-top: 10px;
    padding-bottom: 20px;
}

/************ integration of mapy.cz ***************/

#toggle-fullscreen {
    background-color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 2px 0;
    color: #6b7580;
    cursor: pointer;
    display: inline-block;
    font-family: mapy;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    min-height: 27px;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 80px;
    top: 10px;
    text-align: center;
    vertical-align: top;
    width: 27px;
    z-index: 10;
    text-decoration: none;
}

/* move scale to the left bottom corner */
.smap .scale {
    bottom: 20px;
    left: 10px;
}

.legend-row {
    font-size: 13px;
    margin-top: 5px;
    line-height: 18px;
}

.legend-row span, .legend-row  a {
    margin-right: 10px;
}

.legend-row .legend-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

.card {
    font-size: 13px;
}

#map-wrap {
    position: relative;
}

#map-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    z-index: 99999;
    font-size: 20pt;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.tag-marker-icon {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 10px;
    /* Vertically center the text (icon) */
    color: #0064ff;

}

.geonet-map-info, .geonet-map-show {
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 200px;
}

.geonet-map-info .track-info {
    display: flex;
    flex-direction: row;
}

.tag-info a {
    text-decoration: none;
}

.tag-info .tag-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px
}

.geonet-map-show .choice {
    display: flex;
    flex-direction: row;
}
