{{ define "main" }}

<article class="entry">
    <header class="entry-header">
        <h2 class="entry-title">{{ .Title }}</h2>
    </header>

    <div class="entry-content">

        <div id="map-wrap">
            <div id="map-loading">Loading tracks ...</div>
        </div>

        <script type="text/javascript">

            var options_line = {
                color: "#f00",
                width: 3,
                outlineWidth: 0
            };

            var options = {
                mapy_cz_api_key: "{{ site.Params.MapyCzApiKey }}"
            }

            var map = leafletCreateMap('map-wrap', options);

            function tracks_response(json) {

                // get map wrapper element
                var elMapLoading = document.getElementById("map-loading");
                elMapLoading.innerHTML = "Rendering tracks ..."

                // list of points from all gpx tracks
                var points_all = [];

                for (var i = 0; i < json.tracks.length; i++) {

                    var points_line = json.tracks[i].points.map(function(p) { return [p.lat, p.lng] } )

                    points_all.push(points_line)
                }

                var polyline = L.polyline(points_all, options_line).addTo(map);

                // zoom the map to the polyline
                map.fitBounds(polyline.getBounds());

                elMapLoading.style = "display: none";
            }

            fetch("{{ "tracks.json" | absURL }}")
                .then((response) => response.json())
                .then((json) => tracks_response(json));

        </script>
    </div>
</article>

{{ end }}
