{{ define "main" }}

<article class="entry">

    <header class="entry-header">
        <h2 class="entry-title">{{ .Title }}</h2>
    </header>

    <div class="entry-content">

        <p>{{ .Content}}</p>

        <div class="list-pages">
        {{ range .Pages }}

            <div class="page">
                <a class="page-link" href="{{ .Permalink }}">{{ .Title }}</a>
                {{ if eq .Type "posts" }}
                    <div class ="page-date"><time datetime="{{ .Date }}">{{ i18n "date" . }}</time></div>
                {{ end }}

            </div>
        {{ end }}
        </div>

    </div>

</article>

{{ end }}
