{{ define "main" }}
<article class="entry">
    <header class="entry-header">
        <h2 class="entry-title">{{ .Title }}</h2>
    </header>

    <div class="entry-content">

        <div id="search-results">
        </div>

        <!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
        <script id="search-result-template" type="text/x-js-template">

        <div id="summary-${key}">
            <h4><a href="${link}">${title}</a></h4>
            <p>${snippet}</p>
        </div>

        </script>

        <script>
            // definition of the URL pointing to fulltext database of site content
            // it is done this way since absURL is important here, this informaton
            // (rootURL, absURL) is not known inside js/search.js
            search_index_url = "{{ "index.json" | absURL }}";
        </script>

        <!-- this is import of js functionality for search execution and rendering of results -->
        <script src='{{ "js/search.js" | absURL }}'></script>

    </div>
</article>
{{ end }}