{{ define "main" }}

    <article class="entry">
        <header class="entry-header">
            <h2 class="entry-title">{{ .Title }}</h2>
            {{ if eq .Type "posts" }}
                <div class ="entry-date"><time datetime="{{ .Date }}">{{ i18n "date" . }}</time></div>
            {{ end }}
        </header>

        <div class="entry-content">
            {{ .Content }}
        </div>

        {{ $show_gallery := true }}
        {{ if (isset .Page.Params "hide_gallery") }}
            {{ if .Page.Params.hide_gallery }} 
                {{ $show_gallery = false }}
            {{ end }}
        {{ end }}

        {{ if $show_gallery }}
            <div class="entry-gallery">
                {{ partial "gallery" . }}
            </div>
        {{ end }}

        {{ with .Resources.Match "gpx/*.gpx" }}
            <div class="entry-map">
                {{ partial "map_leaflet" . }}
            </div>
        {{ end }}

        {{ with .Resources.GetMatch "comments.yaml" }}
            <div class="entry-comments">
                <h3>Komentáře</h3>
                {{ partial "comments" . }}
            </div>
        {{ end }}

        {{ partial "entry-meta" .}}

    </article>

{{ end }}
