{{ define "main" }}

    <article class="entry">
        <header class="entry-header">
            <h2 class="entry-title">{{ .Title }}</h2>
        </header>

        <div class="entry-content">

            <div id="map-wrap"></div>

            <script>
                var options = {
                    mapy_cz_api_key: "{{ site.Params.MapyCzApiKey }}"
                }

                var map = leafletCreateMap('map-wrap', options);

                // add markers
                var markers = L.markerClusterGroup();
                var marker
                var markerContent = '';

                {{/* loop through all tags */}}
                {{ range $tagKey, $tagValue := $.Site.Taxonomies.tags }}

                    {{/* look for coordinates - loop through all tag locations */}}
                    {{ range $locTagKey, $locTagValue := $.Site.Data.tag_locations.located }}
                        {{/* if coordinates for tag were found, add marker */}}
                        {{ if (eq $tagValue.Page.Title $locTagKey )}}
                            marker = L.marker([{{- $locTagValue.lat -}}, {{- $locTagValue.lng -}} ]);

                            markerContent = '<div class="map-popup-content">'
                            markerContent += '<b><a href="{{ $tagValue.Page.Permalink }}" title="{{ $tagValue.Page.Title }}">{{ $tagValue.Page.Title | upper }} ({{ $tagValue.Count }})</a></b>';
                            markerContent += '<br/>';

                            {{ $pageCounter := 0 }}
                            {{ $markerNextRendered := false }}

                            {{ range $tagPage := $tagValue.Pages }}
                                {{ if (lt $pageCounter 15 )}}
                                markerContent += '<br><a href="{{.Permalink }}"" title="{{ .Title }}">{{ .Title }}</a>'
                                {{ else }}
                                    {{ if (not $markerNextRendered) }}
                                        markerContent += '<br>...'
                                        {{ $markerNextRendered = true }}
                                    {{ end }}
                                {{ end }}
                                {{ $pageCounter = add $pageCounter 1 }}
                            {{ end }}

                            markerContent += '</div>';

                            marker.bindPopup(markerContent);
                            markers.addLayer(marker)
                        {{ end }}
                    {{ end }}
                {{ end }}

                map.addLayer(markers);
                map.fitBounds(markers.getBounds());
            </script>
        </div>
    </article>

{{ end }}
