{{ define "main" }}

<article class="entry">
    <header class="entry-header">
        <h2 class="entry-title">{{ .Title }}</a></h2>
    </header>

    <div class="entry-content">
      {{ $data := .Data }}
      {{ range $key, $value := .Data.Terms.ByCount }}
          {{ if ($value.Name) }}
              <span class="tag">
                  <a href="{{ "tags/" | relURL }}{{ $value.Name | urlize }}">
                    {{ $value.Page.Title }} <sup>({{ $value.Count }})</sup>
                </a>
              </span>
          {{ end }}
      {{ end }}
    </div>
{{ end }}
