{{ $key := .Get 0 }}

{{ if $key }}

    {{ $items := index .Page.Params $key }}

    {{ if $items }}
        <table class="datatable">
            <thead>
                <tr>
                {{ range $items.keys }}
                  <td>{{ .name }}</td>
                {{ end }}
                </tr>
            </thead>
            <tbody>
            {{ range $items.data }}
                {{ $item := . }}
                {{ if $item.group }}
                    <tr class="group">
                        <td>{{ $item.group }}</td>
                    <tr>
                {{ else }}
                    <tr>
                    {{ range $items.keys }}
                        {{ $id := .id }}
                        {{ $highlight := .highlight }}
                        {{ $style := .style }}
                        <td {{- if eq $highlight true }} class="highlight"{{- end -}}{{- if $style }} style="{{ $style }}"{{- end -}}>
                            {{ if isset $item $id }}{{ index $item $id }}{{ else }}missing value{{ end }}
                        </td>
                    {{ end }}
                    </tr>
                {{ end }}
            {{ end }}
            </tbody>
        </table>
    {{ else }}
        <p>No parameter "{{ $key }}" exists in page parameters.</p>
    {{ end }}
{{ else }}
    <p>No shortcode parameter specified. The data table shortcode requires name of the front header parameter.</p>
{{ end }}
