
<div id="map-wrap"></div>

<script type="text/javascript">

// Build list of gpx tracks
var gpx_list = [];
{{ range . }}
    gpx_list.push({
        url: "{{ .Permalink }}"
    });
{{ end }}

var options = {
    icon_start_url: {{ "images/pin-icon-start.png" | absURL }}, // size of the icon is 33x45
    icon_start_anchor: {left: 16, top: 45},
    icon_end_url: {{ "images/pin-icon-end.png" | absURL }}, // size of the icon is 33x45
    icon_end_anchor: {left: 16, top: 45},
}

mczCreateTracksMap('map-wrap', gpx_list, options);

</script>